/* Reset */
html,
body {
  height: 100%;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  background-color: #fafafa;
  color: #252b42;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
/* Main Style */
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
._container {
  max-width: 1046px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}
._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
/* --------------Header----------------------------- */
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}
.header__container {
  display: flex;
  min-height: 104px;
  align-items: center;
}

.header__logo {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
}
.header__menu {
  margin-left: 133px;
}
.menu {
  padding: 5px 0;
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
}
.menu__item:not(:last-child) {
  margin-right: 21px;
}
.menu__link {
  font-weight: 600;
  color: #737373;
  line-height: 1.71;
}
/* ---------------End Header--------------------- */
/* ---------------Page------------------------------ */
/* ---------------Common Blocks---------------------*/
.page {
  flex: 1 1 auto;
}
.page__main-block {
}
.page__services {
  position: relative;
  z-index: 2;
  margin-top: -111px;
}
.page__advantages {
}
.page__practice {
}
.page__clients {
  margin-bottom: 20px;
}
.header-block {
  text-align: center;
  line-height: 1.42;
  letter-spacing: 0.2px;
}
.header-block__title {
  font-weight: 700;
  font-size: 40px;
}
.header-block__title:not(:last-child) {
  margin-bottom: 10px;
}
.header-block__subtitle--msize {
  max-width: 511px;
}
.header-block__subtitle--smsize {
  max-width: 470px;
}
.header-block__subtitle {
  margin: 0 auto;
  font-weight: 500;
  color: #737373;
}

.page__whoweare {
}
.page__subscribe {
}
.page__getintouch {
}
.page__contact {
}
/* ---------------End Common Blocks----------------*/
/* --------------Main Block------------------------------- */
.main-block {
  position: relative;
}
.main-block__container {
}
.main-block__body {
  max-width: 400px;
  padding-top: 184px;
  padding-bottom: 191px;
  position: relative;
  z-index: 2;
}
.main-block__body > *:not(:last-child) {
  margin-bottom: 35px;
}
.main-block__title {
  font-size: 58px;
  font-weight: 800;
  line-height: 1.38;
  letter-spacing: 0.2px;
}
.main-block__text {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  color: #737373;
}
.main-block__buttons {
  margin: -10px 0;
  display: inline-flex;
  flex-wrap: wrap;
}
.main-block__button {
  padding: 5px 36px;
  margin: 10px 0;
  min-height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 700;
  line-height: 1.5;
  border-radius: 37px;
  letter-spacing: 0.2px;
}
.main-block__button:not(:last-child) {
  margin-right: 10px;
}
.main-block__button--orange {
  color: #fff;
  background: #ff7b47;
}
.main-block__button--border {
  color: #0d5c63;
  border: 1px solid #0d5c63;
}
.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/* ---------------End Main Block-------------------------------------------- */
/* ---------------Services Block-------------------------------------------- */
.services {
}
.services__container {
}
.services__body {
}
.services__column {
  margin-bottom: 30px;
  flex: 0 1 33.333%;
}
.services__item {
  height: 100%;
  padding: 35px 40px;
  background-color: #fff;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
.item-service {
}
.item-service > *:not(:last-child) {
  margin-bottom: 10px;
}
.item-service--green {
  background-color: #0d5c63;
}
.item-service__icon {
}
.item-service__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: 0.1px;
}
.item-service__text {
  font-weight: 500;
  line-height: 1.43;
  letter-spacing: 0.2px;
  color: #737373;
}
.item-service--green .item-service__text,
.item-service--green .item-service__title {
  color: #fff;
}
/* ---------------End Services Block---------------------------------------- */
/* ---------------Advantages Block---------------------------------------- */
.advantages {
  padding: 80px 0;
}
.advantages__container {
}
.advantages__header {
  margin-bottom: 50px;
}
.advantages__body {
  margin: 0 -15px -30px;
  display: flex;
  flex-wrap: wrap;
}
.advantages__column {
  padding: 0 15px;
  margin-bottom: 30px;
  flex: 0 1 25%;
}
.advantages__item {
  height: 100%;
  padding: 30px;
  font-weight: 700;
  text-align: center;
  background-color: #fff;
}
.advantages__item > *:not(:last-child) {
  margin-bottom: 10px;
}
.advantages__icon {
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.advantages__value {
  font-size: 40px;
  line-height: 1.42;
  letter-spacing: 0.2px;
}
.advantages__text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1px;
  color: #737373;
}
/* ---------------End Advantages Block------------------------ */
/* ----------------Practice Block-------------------------- */
.practice {
  padding: 125px 0 81px 0;
}
.practice__container {
}
.practice__header {
  margin-bottom: 45px;
}
.practice__body {
  margin: 0 -20px;
  display: flex;
  flex-wrap: wrap;
}
.practice__column {
  padding: 0 20px;
  flex: 0 1 25%;
}
.practice__item {
}
.item-practice {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
}
.item-practice__content {
  padding: 30px;
  flex: 1 1 100%;
}
.item-practice__link {
  display: inline-block;
  color: inherit;
}
.item-practice__link:hover {
  text-decoration: underline;
}
.item-practice__title {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.1px;
}
.item-practice__text {
  font-weight: 500;
  line-height: 1.42;
  letter-spacing: 0.2px;
  color: #737373;
}
.item-practice__image {
  display: block;
  padding-bottom: 60%;
}
/* ----------------End Practice Block--------------------*/
/* ----------------WhoWeAre Block-----------------------*/
.whoweare {
  padding: 100px 0 136px 0;
  background-color: #fff;
}
.whoweare__header {
  margin-bottom: 100px;
}
.whoweare__header .header-block__title {
  margin-bottom: 15px;
}
.whoweare__container {
}
.whoweare__body {
  display: flex;
  align-items: flex-start;
}
.whoweare__video {
  flex: 0 0 57%;
  position: relative;
  padding-bottom: 42.25%;
}
.whoweare__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
}
.whoweare__content {
  flex: 1 1 auto;
  padding-top: 20px;
  padding-left: 120px;
}
.whoweare__title {
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.43;
  letter-spacing: 0.2px;
}
.whoweare__text {
  font-weight: 500;
  line-height: 1.43;
  letter-spacing: 0.2px;
  color: #737373;
}
.whoweare__text:not(:last-of-type) {
  margin-bottom: 14px;
}
.whoweare__items {
  margin-top: 50px;
}
.whoweare__item:not(:last-child) {
  margin-bottom: 30px;
}
.item-whoweare {
  display: flex;
}
.item-whoweare__icon {
  flex: 0 0 32px;
}
.item-whoweare__body {
  flex: 1 1 auto;
  padding-left: 20px;
}
.item-whoweare__title {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.1px;
}
.item-whoweare__text {
  font-weight: 600;
  line-height: 1.7;
  letter-spacing: 0.2px;
  color: #737373;
}
/* ----------------End WhoWeAre Block---------------*/
/* ----------------Clients Block-------------------*/
.clients {
  padding: 50px 0;
}
.clients__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.clients__item {
  padding: 10px 0;
}
.clients__item img {
  max-width: 100%;
}
/* ----------------End Clients Block------------------*/
/* ----------------Subscribe Block-------------------*/

.subscribe {
  position: relative;
  padding-bottom: 20px;
}
.subscribe::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 77px;
  background-color: #252b42;
  z-index: -1;
}
.subscribe__container {
}
.subscribe__body {
  margin: 0 32px;
  padding: 30px 40px 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #17213c;
  border-radius: 2px;
}
.subscribe__title {
  max-width: 266px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.1px;
  color: #fff;
}
.subscribe__form {
  flex: 0 1 50%;
  display: flex;
}
.subscribe__input {
  box-sizing: border-box;
  min-height: 58px;
  padding: 0 20px;
  flex: 1 1 auto;
  border: 1px solid #e6e6e6;
  border-right: none;
  border-radius: 5px 0 0 5px;
  background-color: #f9f9f9;
  outline: none;
  font-family: inherit;
}
input [type="email"]::placeholder {
  color: #737373;
  letter-spacing: 0.2px;
}
input[type="email"]::-webkit-input-placeholder {
  color: #737373;
  letter-spacing: 0.2px;
}
input[type="email"]::-moz-placeholder {
  color: #737373;
  letter-spacing: 0.2px;
}
.subscribe__button {
  min-height: 58px;
  padding: 0 22px;
  background-color: #ff7b47;
  border: 1px solid #e6e6e6;
  border-radius: 0 5px 5px 0;
  color: #fff;
  letter-spacing: 0.2px;
}
/* ----------------End Subscribe Block----------------*/
/* ----------------Get In Touch Block----------------*/
.getintouch {
  padding: 80px 0 135px 0;
  /* background-color: #f3f3f3; */
}
.getintouch__items {
  padding: 0 32px;
}
.getintouch__header {
  padding: 0 5px;
  margin-bottom: 80px;
}
.getintouch__container {
}
.getintouch__item {
  flex: 0 1 33.333%;
}
.item-getintouch {
  padding: 50px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.item-getintouch > *:not(:last-child) {
  margin-bottom: 15px;
}
.item-getintouch--active {
  padding: 80px 15px;
  background-color: #252b42;
  color: #fff;
}
.item-getintouch__icon {
}
.item-getintouch__emails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item-getintouch__email {
  font-weight: 600;
  color: inherit;
  line-height: 1.7;
  letter-spacing: 0.2px;
}
.item-getintouch__email:hover {
  text-decoration: underline;
}
.item-getintouch__support {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.1px;
}
.item-getintouch__button {
  min-height: 44px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #ff7b47;
  border-radius: 5px;
  color: #ff7b47;
  line-height: 1.7;
  letter-spacing: 0.2px;
  transition: all 0.4s ease 0s;
}
.item-getintouch__button:hover {
  background-color: #ff7b47;
  color: #fff;
}
.item-getintouch--active .item-getintouch__button {
  border: 1px solid #fff;
  color: #fff;
}
/* ----------------End Get In Touch Block--------------*/
/* ----------------Contact Block--------------*/
.contact {
  padding: 40px 0;
}
.contact__container {
}
.contact__body {
  display: flex;
  justify-content: space-between;
}
.contact__content {
}
.contact__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.1px;
}
.contact__text {
  font-weight: 500;
  line-height: 1.42;
  color: #737373;
  letter-spacing: 0.2px;
}
.contact__button {
  min-height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px 40px;
  margin-right: 32px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.2px;
  background-color: #ff7b47;
  color: #fff;
  border-radius: 5px;
  transition: all 0.4s ease 0s;
}
.contact__button:hover {
  background-color: #aa5330;
}
/* ----------------End Contact Block--------------*/

/* ---------------End Page------------------------------ */
/* ---------------Footer------------------------------ */
.footer {
}
.footer__top {
}
.footer__main {
}
.footer__column {
}
.footer__label {
}
.footer__menu {
}
.menu-footer {
}
.menu-footer__list {
}
.menu-footer__item {
}
.menu-footer__link {
}
.footer__contacts {
}
.contacts-footer {
}
.contacts-footer__item {
}
.contacts-footer__item--phone {
}
.contacts-footer__item--map {
}
.contacts-footer__item--email {
}
.footer__bottom {
}
.footer__container {
}
.footer__copy {
}
.footer__social {
}
.social {
}
.social__item {
}
/* ---------------End Footer---------------------------------- */
/* Adaptive style */
@media (max-width: 1300px) {
  .main-block__image img {
    object-position: right;
  }
}
@media (max-width: 1080px) {
  .whoweare__content {
    padding: 0 0 0 50px;
  }
}
@media (max-width: 1024px) {
  .wrapper p {
    font-size: 1.1em;
  }
  .practice {
    padding: 0 0 40px;
  }
}
@media (max-width: 1020px) {
  .advantages__column {
    flex: 0 1 50%;
  }
  .practice__column {
    padding: 0 15px;
    margin-bottom: 30px;
    flex: 0 1 50%;
  }
  .practice {
    padding: 0 0 40px;
  }
}
@media (min-width: 992px) {
  .getintouch__items {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 992px) {
  .header-block__title {
    font-size: 35px;
  }
  .header__menu {
    margin-left: 80px;
  }
  .main-block__body {
    padding-top: 120px;
    padding-bottom: 191px;
  }
  .main-block__image {
    opacity: 0.5;
  }
  .main-block__text {
    color: #000;
  }
  .services__column {
    flex: 0 1 50%;
  }
  .services__column:last-child {
    flex: 0 1 100%;
  }
  .advantages {
    padding: 50px 0;
  }
  .getintouch {
    padding: 30px 0 30px 0;
  }
  .getintouch__header {
    margin-bottom: 30px;
  }
  .item-getintouch--active {
    padding: 50px 15px;
  }
  .contact {
    padding: 10px 0;
  }
  .contact__body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact__content {
    text-align: center;
    margin-bottom: 20px;
  }
  .contact__button {
    width: 55%;
    margin-right: 0;
  }
}
@media (max-width: 950px) {
  .practice {
    padding: 0;
  }
  .whoweare {
    padding: 0;
  }
  .whoweare__header {
    margin-bottom: 30px;
  }
  .whoweare__body {
    flex-direction: column-reverse;
    align-items: stretch;
    margin-bottom: 50px;
  }
  .whoweare__content {
    padding: 0;
  }
  .whoweare__title {
    font-size: 24px;
  }
  .whoweare__items {
    margin-bottom: 50px;
  }
  .whoweare__video {
    padding-bottom: 56.25%;
  }
}
@media (max-width: 767px) {
  .header__menu {
    margin-left: 40px;
  }
  .header-block__title {
    font-size: 30px;
  }
  .advantages {
    padding: 40px 0;
  }
  .advantages__header {
    margin-bottom: 25px;
  }
  .clients {
    padding: 20px 0;
  }
  .subscribe__body {
    flex-direction: column;
    padding: 10px;
  }
  .subscribe__title {
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
  }
}
@media (min-width: 670px) {
  .services__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px -30px;
  }
  .services__column {
    padding: 0 15px;
  }
}
@media (max-width: 669px) {
  .services__column:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 499px) {
  .practice__column {
    /* padding: 0 15px; */
    flex: 0 1 100%;
  }
}
@media (max-width: 480px) {
  .advantages__column {
    flex: 0 1 100%;
  }
  .practice__body {
    margin: 0;
  }
  .whoweare__body {
    padding: 0 15px;
  }
  .subscribe__body {
    margin-right: 0;
    margin-left: 0;
    padding: 20px 0;
  }
  .subscribe__title {
    max-width: 100%;
  }
  .subscribe__form {
    align-self: stretch;
    padding: 0 10px;
  }
  ._container {
    padding: 0;
  }
}
@media (max-width: 479px) {
  .header__container {
    min-height: 70px;
  }
  .header__menu {
    margin-left: 20px;
  }
  .menu__link {
    font-size: 18px;
    color: #000;
  }
  .main-block__body {
    padding-top: 115px;
    padding-bottom: 160px;
  }
  .main-block__title {
    font-size: 42px;
  }
  .main-block__text {
    color: #000;
  }
  .main-block__buttons {
    display: flex;
    justify-content: center;
  }
  .main-block__button {
    flex: 0 1 70%;
  }
  .main-block__button:not(:last-child) {
    margin-right: 10px;
  }
  .main-block__button--border {
    background-color: #0d5c63;
    color: #fff;
  }
  .whoweare__items {
    margin: 25px 0;
  }
  .clients__item {
    padding: 10px 15px;
  }
  .clients__item {
    min-width: 140px;
    text-align: center;
  }
}
@media (max-width: 320px) {
  .subscribe__button {
    padding: 0 10px;
  }
}
